*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: 1px solid white; */
    margin: 0;
}

body {
    background-color: rgb(36, 36, 36);
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

header {
    position: fixed;
    z-index: 1;
    display: flex;
    height: 69px;
    justify-content: space-between;
    background-color: rgb(36, 36, 36);
    width: 100%;
    border-bottom: 1px solid seashell;
}

.logo {
    display: block;
    margin-left: 10px;
}

nav {
    display: flex;
}

.nav_list {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: center;
    margin-right: 10px;
    list-style: none;
}

.nav_links {
    color: seashell;
}

section {
    position: relative;
    top: 70px;
}

footer {
    position: relative;
    top: 70px;
}

.mission {
    background-image: url(/resources/img/img-mission-background.jpg);
    width: 1200px;
    height: 700px;
    display: flex;
    margin: 0 auto;
}

.mission_text {
    background-color: rgb(36, 36, 36);
    height: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin: auto 0;
}

.featured {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
}

.featured h4 {
    margin: 20px;
}

.teas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    max-width: 1000px;
}

.tea {
    display: flex;
    flex-direction: column;
}

.tea_img {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

.locations {
    background-image: url(/resources/img/img-locations-background.jpg);
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 1200px;
    margin: 0 auto;
}

.locations h2 {
    margin-top: 70px;
}

.location_boxes {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.location_box {
    background-color: rgb(36, 36, 36);
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

footer {
    padding: 20px;
    text-align: left;
}